.columnas-container {
    padding-top: 0%;
    padding-bottom: 0%;
    background-color: #006489;
    margin-top: 0%;
    margin-bottom: 0%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;

  }
  
  .columna {
    flex: 1;
    padding: 30px;
   
    margin-bottom: 0%;
  }
  .columna:nth-child(1) {
  background-color: #006489;
  color: white;
  
}

.columna:nth-child(2) {
  /*background-color: #0488b8;*/
  background-color: rgba(19, 15, 15, 0.808);
  

  color: white;
}
  .columna h2 {
    font-size: 20px;
    color: white;
  }
  
  .columna p {
    font-size: 16px;
    color: white;
  }


  @media (max-width: 767px) {
    .columnas-container {
      padding-top: 0%;
     margin-top: 0px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 150px;
    }
    .columna h2 {
      font-size: 12px;
      color: white;
    }
    
    .columna p {
      font-size: 8px;
      color: white;
    }
    .columna {
      flex: 1;
      padding-top: 20px;
      padding-bottom: 10px;
    }
  }