.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: black;
    padding-top: 30px;
    padding-bottom: 70px;
    padding-left: 2%;
    margin-left: 16%;
    margin-right: 16%;
    background-color: white;
    position: relative;
    z-index: 0;
  }
  
  .contact-info {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .phone,
  .email {
    display: flex;
    align-items: center;
    margin-right: 10px;
    
  }
  
  .icon {
    margin-right: 5px;
    width: 30px;
    height: 30px;
  }
  
  .social-media {
    display: flex;
    align-items: center;
  }
  
  .icon-facebook {
  
    background-color: blue;
   
    margin-right: 5px;
  
  }
  
  .icon-phone {
    color: green; /* Cambia el color del ícono del teléfono a verde */
    font-size: 10px;
    margin-right: 5px;
    
  }
  .logo img{
    width: 200px;
    height: 80px;
  }
  
  @media (max-width: 767px) {
    .logo img{
      width: 80px;
      height: 30px;
    }
    .nav {
      display: flex;
   
      align-items: center;
      justify-content: left;
      color: black;
      padding-top: 30px;
      padding-bottom: 10px;
      background-color: white;
      position: relative;
      z-index: 0;
      font-size: 10px;
    }
    .icon {
      margin-right: 5px;
      width: 10px;
      height: 10px;
    }
  
  
  }