
body {
  margin: 0;
  padding: 0;
  
  overflow: hidden; 
}

.grupo{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0%;
    
    width: 100%;
    height: 60dvh;
    margin-top: 0%;
    position: relative;
    
    z-index: 0;
  
}

.grupo img{
    height: 60dvh;
    
    margin-bottom: 0%;
    width: 100%;
   

    
}

/*
@media (max-width: 767px) {
    .grupo img{
        height: 300px;
        
    }
    .grupo{
        padding-top: 0px;
        margin-bottom: 0%;
        width: 100%;
        margin-top: 0%;
        height: auto;
        position: relative;
        z-index: 0;
    }


}
*/

.grupo .card {
    background-color: transparent;
    position: relative;
    color: white;
    z-index: 1;
    width: 200px;
    height: 300px;
    font-size: 15px;
  }
  .grupo .links{
    color: rgb(0, 0, 0);
  }
  .grupo .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 34, 36, 0.8); /* Puedes ajustar la opacidad cambiando el valor alfa (0.5 en este caso) */
    /*background-color: #006489;*/
    opacity: 0.7;


    z-index: -1;
  }