.cardp-grid {
  padding-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Divide en 3 columnas */
  grid-gap: 20px; /* Espacio entre tarjetas */
  margin-bottom: 5%;
}

.cardp {
  /*background-color: #043a10;*/
  background: linear-gradient(to right,  #006489, #5aa0b9);
 /* background: linear-gradient(to right,  #006489, #5aa0b9);
*/
  margin-left: 10%;
  margin-right: 10%;

  border-radius: 5px;
  text-align: center;
  transition: transform 0.2s ease-in-out; /* Transición de movimiento */
  border: 1px solid #ccc;
 
}


.cardp img{
 
    width: 100%; /* Establece el ancho al 100% del contenedor */
    height: auto; /* Establece la altura automática para mantener la proporción */
    max-width: 300px; /* Establece un ancho máximo para evitar que las imágenes sean demasiado grandes */
    max-height: 200px; 
  
}
.cardp  p {
  margin-top: 10px;
}
.cardp:hover {
  transform: translateY(-5px); /* Mover hacia arriba al pasar el cursor */
}