
.two-columna1 {
    display: flex;
    justify-content: space-between;
    
    
    margin-bottom: 20px; /* Espacio entre las columnas */
  }
  
  .columna1 {
    margin-top: 3%;
   
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  
  .image-columna1 img {
    max-width: 100%;
    height: auto;
  }


 

  .two-columna1 h1{
    
    margin-top: 10px;
    
    text-align: center;
    color:#006489;
    font-size: 250%;

  }

  .two-columna1 h2{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    color: black;
    font-size: 20px;
    font-weight: normal;
  }