
.two-columna2 {
    display: flex;
    justify-content: space-between;
    
    position: relative;/*aqui modifique*/
    margin-bottom: 20px; /* Espacio entre las columnas */
  }


 
  
  .two-columna2::before {
    content: "";
    /*background-attachment: local; */
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    
    background-image: url('../assets/topografia-geodesia-dnc.jpg'); 
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: -1;
    background-attachment: fixed;

  }
  
  .columna2 {
    margin-top: 3%;
   
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  
  .image-columna2 img {
    max-width: 100%;
    height: auto;
  }


 

  .two-columna2 h1{
    
    margin-top: 10px;
    
    text-align: center;
    padding-bottom: 2%;
    color:#006489;
    font-size: 150%;

  }

  .two-columna2 h2{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    color: black;
    font-size: 20px;
    font-weight: normal;
  }